/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edeef6;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

/* utility classes */
.center-text {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

.mg-top-10 {
  margin-top: 10px;
}

.mg-top-2 {
  margin-top: 2px;
}

.mg-top-10vh {
  margin-top: 10vh;
}
.mg-top-bottom-5vh {
  margin: 5vh 0;
}

.wd-1000 {
  width: 1000px !important;
}

.primary-btn {
  background-color: #47a386;
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 8px 16px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  transition: 0.2s ease-out;
  border: none;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: #377e67;
}
.secondary-btn {
  background-color: #5d8aa8;
}
.secondary-btn:hover {
  background-color: #46687e;
}
.delete-btn {
  background-color: #be4156;
}
.delete-btn:hover {
  background-color: #8b2e3d;
}
.link-btn a {
  color: white;
}

/* header */
header {
  justify-content: space-between;
  background-color: black;
  padding: 10px 10px;
  min-width: 500px;
}
header a {
  color: white;
}

/* app container */
.container {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}
/* footer */
footer {
  justify-content: flex-end;
  padding: 5px 15px;
  background-color: black;
  margin-top: auto;
}

/* form */
.new-habit-form-container {
  justify-content: center;
  /* width: 50%; */
}
.new-habit-form {
  flex-direction: row;
  justify-content: space-evenly;
}
.new-habit-form input {
  width: 60%;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.limit-width-55 {
  width: 55%;
}

/* habits list */
.habits-container {
  flex-direction: column;
}
.habits-list {
  flex-direction: column;
  gap: 20px;
}
.individual-habit {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 6px;
  flex-direction: row;
  justify-content: space-between;
}
.inner-habit-right {
  gap: 20px;
}
.limit-width-btn {
  width: 125px;
}
.habit-text {
  font-weight: bold;
}

/* week-view */
.week-view-container {
  flex-direction: column;
}
.week-view-habit-heading {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
.week-view-list {
  flex-direction: column;
  gap: 5vh;
  width: 90%;
}
.week-view-individual-habit {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.03);
  width: 100%;
  border-radius: 6px;
  flex-direction: row;
  justify-content: space-between;
}
.week-view-habit-week-log {
  flex-direction: row;
  justify-content: space-between;
}

/* day-tile */
.day-tile-container {
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  height: 100%;
  padding: 20px;
}
.day-tile-btns {
  width: 100%;
  justify-content: space-between;
}
.day-tile-btns i {
  cursor: pointer;
}
.day-tile-row {
  height: 25px;
}
.day-tile-btns div {
  cursor: pointer;
}

/* individual week view */
.individual-week-view-habit-container {
  width: 100%;
  height: 80vh;
}
.width-100 {
  width: 100%;
}
